#const {
  margin-top: 80px;
  background-color: rgb(237, 231, 231);
  .container {
    .wrapper {
      display: flex;
      flex-direction: column;
      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 20px;
        }
      }
      .suhrob {
        margin-top: 40px;
        display: flex;
        gap: 30px;
        img {
          width: 500px;
          border-radius: 12px;
        }

        .txt {
          display: flex;
          flex-direction: column;
          gap: 20px;
          p {
            font-size: 20px;
          }
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        p {
          font-size: 20px;
        }
      }
    }
  }
}
